<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="card card-body bg-light">
        <h1 class="text-center">Update your profile pciture</h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>