<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center">
      <%= render partial: "profiles/profile_sidebar", locals: { user: @user, friends: @friends } %>
    </div>
    <div class="col-md-8 ps-5 pe-5">
      <h3>NEWS FEED</h3>
      <% if current_user.id == @user.id %>
        <%= render partial: "posts/form", object: @new_post, as: :post %>
      <% end %>
      <%= render partial: "posts/news_feed", object: @user.posts, as: :posts %>
    </div>
    <div class="col-md-2">
      <% if current_user == @user %>
        <%= render partial: "notification_sidebar" %>
      <% else %>
        Ads
      <% end %>
    </div>
  </div>
</div>