<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 ps-5">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      Profile picture<br>
      friends list<br>
    </div>
    <div class="col-md-8">
      <h3>NEWS FEED</h3>
      <% if current_user.id == @user.id %>
        <%= render partial: "posts/form", object: @post, as: :post %>
      <% end %>
    </div>
    <div class="col-md-2">
      Ads
    </div>
  </div>
</div>