<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center">
      <%= render partial: "profiles/profile_sidebar", locals: { user: @user, friends: @user.friends } %>
    </div>
    <div class="col-md-8 ps-5 pe-5">
      <h3>NEWS FEED</h3>
      <%= render partial: "form", object: @new_post, as: :post %>
      <%= render partial: "news_feed", object: @posts, as: :posts%>
    </div>
    <div class="col-md-2">
      <%= render partial: "users/notification_sidebar" %>
    </div>
  </div>
</div>