
.navbar-bg {
  color: #f7f7f7;
  background-color: #3b5998;
}

.navbar-brand {
  color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-under-sign-in {
  color: rgba(255, 255, 255, 0.65)
}