// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-date-text {
  font-size: 0.8125rem;
  font-weight: 400;
}

.post-text {
  font-size: 0.9375rem;
  font-weight: normal;
}

.like-comment-wrapper {
  border-top: 1px solid rgb(201, 201, 201);
  border-bottom: 1px solid rgb(201, 201, 201);
  align-items: center;
  text-align: center;
  font-size: 0.9375rem;

  a {
    color: rgb(101, 103, 107);
    text-decoration: none;

    &:hover {
      background-color: #00000021;
      color: rgb(101, 103, 107);
    }
  }
}

.comment-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}