// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-date-text {
  font-size: 0.8125rem;
  font-weight: 400;
}

.post-text {
  font-size: 0.9375rem;
  font-weight: normal;
}